<hello name="Kevin Edlyn - C14180208"></hello>
<p>
	Program 4 sama
</p>
<p>Board Game :</p>

<div *ngFor="let tempBaris of boardGame">
	<div *ngFor="let data of tempBaris" style="display : inline">
		{{data}}
	</div>
</div>

<div *ngIf="myCounter % 2 == 0">
	<p>Player 1</p>
</div>
<div *ngIf="myCounter % 2 != 0">
	<p>Player 2</p>
</div>
<p>Input : </p>
Baris : <input type="number" [(ngModel)]="baris"/>
  Kolom : <input type="number" [(ngModel)]="kolom"/>
<button (click)="isKlik()">Submit</button>

<div>
	<p *ngIf="win1"> Player 1 win</p>
	<p *ngIf="win2"> Player 2 win</p>
</div>